/* CONTAINERS */
.container {
  margin: 10px auto;
  background-color:aliceblue;
  border-radius: 10px;
}

/* HEADER */
.header {
  padding: 10px;
}

.italic {
  font-style: italic;
}

/* FORM */
.form-content {
  padding: 20px;
}

label {
  font-weight: bold;
}

/* RESULTS */
/* Add animation so user can see results print in real time? */
#beepBoop-results p {
  padding: 10px;
  /* background-color:bisque; */
}

#to-top {
  text-align: center;
  margin: 10px auto;
  padding-bottom: 10px;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}