/* BODY */
body {
  background-color: #FFF8F0;
}

/* CONTAINERS */
.container {
  margin: 10px auto;
  background-color: #b5d6da;
  border-radius: 10px;
}

/* HEADER */
.header {
  padding: 10px;
}

.italic {
  font-style: italic;
}

/* FORM */
.form-content {
  padding: 20px;
}

label {
  font-weight: bold;
  width: 150px;
  text-align: right;
}

#hidden {
  display: none;
}

/* RESULTS */
#beepBoop-results p {
  padding: 10px;
}

#to-top {
  text-align: center;
  margin: 10px auto;
  padding-bottom: 10px;
}

a:link {
  text-decoration: inherit;
  color: inherit;
}